In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Reading the DataFrame**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Online Retail Data/Online Retail Data Set.csv',encoding='unicode_escape')

# **Displaying all columns in the Dataframe**

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

# **File Information**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# **Data Description**

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# **Measure of Central Tendencies**

Central Tendencies are the numerical values that are used to represent mid-value or central value a large collection of numerical data. These obtained numerical values are called central or average values. A central or average value of any statistical data or series is the value of that variable that is representative of the entire data or its associated frequency distribution. Such a value is of great significance because it depicts the nature or characteristics of the entire data, which is otherwise very difficult to observe.


The representative value of a data set, generally the central value or the most occurring value that gives a general idea of the whole data set is called the Measure of Central Tendency.

# **1. Mean**

Mean in general terms is used for the arithmetic mean of the data, but other than the arithmetic mean there are geometric mean and harmonic mean as well that are calculated using different formulas. Here in this article, we will discuss the arithmetic mean.


# **2. Median**
The Median of any distribution is that value that divides the distribution into two equal parts such that the number of observations above it is equal to the number of observations below it. Thus, the median is called the central value of any given data either grouped or ungrouped.


# **3. Mode**
The Mode is the value of that observation which has a maximum frequency corresponding to it. In other, that observation of the data occurs the maximum number of times in a dataset.

In [ ]:
print('average : ',df['UnitPrice'].mean())
print('median : ',df['UnitPrice'].median())

print('mode')
print(df['UnitPrice'].mode())

average :  4.611113626088513
median :  2.08
mode
0    1.25
Name: UnitPrice, dtype: float64

In [ ]:
print('average : ',df['Quantity'].mean())
print('median : ',df['Quantity'].median())

print('mode')
print(df['Quantity'].mode())

average :  9.55224954743324
median :  3.0
mode
0    1
Name: Quantity, dtype: int64

# **Variance**

The term variance refers to a statistical measurement of the spread between numbers in a data set. More specifically, variance measures how far each number in the set is from the mean (average), and thus from every other number in the set. Variance is often depicted by this symbol: σ2. It is used by both analysts and traders to determine volatility and market security.

In [ ]:
print('Variance of unit price : ',df['UnitPrice'].var())
print('Variance of Quantity : ',df['Quantity'].var())

Variance of unit price :  9362.469164421025
Variance of Quantity :  47559.3914092986

# **What is Standard deviation?**

Standard Deviation is a measure which shows how much variation (such as spread, dispersion, spread,) from the mean exists. The standard deviation indicates a “typical” deviation from the mean. It is a popular measure of variability because it returns to the original units of measure of the data set.  Like the variance, if the data points are close to the mean, there is a small variation whereas the data points are highly spread out from the mean, then it has a high variance. Standard deviation calculates the extent to which the values differ from the average. Standard Deviation, the most widely used measure of dispersion, is based on all values. Therefore a change in even one value affects the value of standard deviation. It is independent of origin but not of scale. It is also useful in certain advanced statistical problems.

In [ ]:
print('standard deviation of unit price : ',df['UnitPrice'].std())
print('standard deviation of Quantity : ',df['Quantity'].std())

standard deviation of unit price :  96.75985306117938
standard deviation of Quantity :  218.08115785023384

# **Quartiles**

Quartiles are three values that split sorted data into four parts, each with an equal number of observations. Quartiles are a type of quantile.

First quartile: Also known as Q1, or the lower quartile. This is the number halfway between the lowest number and the middle number.

Second quartile: Also known as Q2, or the median. This is the middle number halfway between the lowest number and the highest number.

Third quartile: Also known as Q3, or the upper quartile. This is the number halfway between the middle number and the highest number.

# **Interquartile range**

The distance between the first and third quartiles—the interquartile range (IQR)—is a measure of variability. It indicates the spread of the middle 50% of the data.


IQR = Q3 − Q1

In [ ]:
print('following Quartiles of unit price : ',df['UnitPrice'].quantile(0.75))
print('following Quartiles of Quantity : ',df['Quantity'].quantile(0.5))

following Quartiles of unit price :  4.13
following Quartiles of Quantity :  3.0


# **Skewness**
Skewness is a statistical measure that assesses the asymmetry of a probability distribution. It quantifies the extent to which the data is skewed or shifted to one side.

Positive skewness indicates a longer tail on the right side of the distribution, while negative skewness indicates a longer tail on the left side. Skewness helps in understanding the shape and outliers in a dataset.

If the values of a specific independent variable (feature) are skewed, depending on the model, skewness may violate model assumptions or may reduce the interpretation of feature importance.


# **Positive Skewed or Right-Skewed  (Positive Skewness)**
In statistics, a positively skewed or right-skewed distribution has a long right tail. It is a sort of distribution where the measures are dispersing, unlike symmetrically distributed data where all measures of the central tendency (mean, median, and mode) equal each other. This makes Positively Skewed Distribution a type of distribution where the mean, median, and mode of the distribution are positive rather than negative or zero.

# **Negative Skewed or Left-Skewed (Negative Skewness)**
A negatively skewed or left-skewed distribution has a long left tail; it is the complete opposite of a positively skewed distribution. In statistics, negatively skewed distribution refers to the distribution model where more values are plots on the right side of the graph, and the tail of the distribution is spreading on the left side.

In negatively skewed, the mean of the data is less than the median (a large number of data-pushed on the left-hand side). Negatively Skewed Distribution is a type of distribution where the mean, median, and mode of the distribution are negative rather than positive or zero.

In [ ]:
print('following Quartiles of unit price : ',df['UnitPrice'].skew())
print('following Quartiles of Quantity : ',df['Quantity'].skew())

following Quartiles of unit price :  186.50697172054137
following Quartiles of Quantity :  -0.2640763070668848

# **Population**

In statistics, a population is a set of similar items or events which is of interest for some question or experiment.[1] A statistical population can be a group of existing objects (e.g. the set of all stars within the Milky Way galaxy) or a hypothetical and potentially infinite group of objects conceived as a generalization from experience (e.g. the set of all possible hands in a game of poker).[2] A common aim of statistical analysis is to produce information about some chosen population.[3]

In statistical inference, a subset of the population (a statistical sample) is chosen to represent the population in a statistical analysis.[4] Moreover, the statistical sample must be unbiased and accurately model the population (every unit of the population has an equal chance of selection). The ratio of the size of this statistical sample to the size of the population is called a sampling fraction. It is then possible to estimate the population parameters using the appropriate sample statistics.

# **Sample**
A sample refers to a smaller, manageable version of a larger group. It is a subset containing the characteristics of a larger population. Samples are used in statistical testing when population sizes are too large for the test to include all possible members or observations. A sample should represent the population as a whole and not reflect any bias toward a specific attribute.

There are several sampling techniques used by researchers and statisticians, each with its own benefits and drawbacks.


# **How Large of a Sample Do You Need?**

This will depend on the size of the population and the type of analysis you'd like to do (e.g., what confidence intervals you are using). Power analysis is a technique for mathematically evaluating the smallest sample size needed based on your needs. Another rule of thumb is that your sample should be large enough, but no more than 10% as large as the population.

In [ ]:
df.shape

(541909, 8)

In [ ]:
ten_percent = df.shape[0] * 0.25

In [ ]:
ten_percent

135477.25

In [ ]:
sample_=df['UnitPrice'].to_list()[0:int(ten_percent)]

In [ ]:
len(sample_)

135477

In [ ]:
print(sum(sample_)/len(sample_))

5.1691809679853336

# **Hypothesis Testing**

The hypothesis is nothing but an assumption which we make by our observations. so probability and statistics are all about data, the huge amount of data, and that data is only useful for us if we can analyze the data and finally draw some conclusion about the data. and to find out interpretation and conclusion about the data we basically use Hypothesis testing. so now the hypothesis testing is to Evaluating two mutually exclusive statements on population data using sample data is called Hypothesis Testing. we will talk later on two mutually exclusive statements but for now, basically, try to understand hypothesis testing.

So validating one of the two alternatives assumptions by measuring the probability of population data using sample data with respect to our one of the two assumptions is true called hypothesis testing.

# **Null Hypothesis and Alternative Hypothesis:**


So as we discuss earlier that Evaluating two mutually exclusive statements on population data using sample data is called Hypothesis. so the two mutually exclusive statements are known as Null Hypothesis and Alternative Hypothesis which are denoted by H0 and H1 respectively. in Hypothesis testing, if we want to reach a conclusion, then we have to make two statements in such a way that if one statement is true the other will automatically be wrong. in no case should both the statements be true or false at the same time

# **What are the Z-test and T-test?**

The Z-test and T-test are both hypothesis tests used to determine if there is a significant difference between the sample mean and the population mean. They help us understand whether observed differences in data are likely due to chance or represent true population characteristics.

# **Z-test:**

The Z-test is used when we know the population standard deviation (σ) and the sample size is large (typically n > 30). It is often applied in scenarios where we have ample data points, allowing us to assume that the sample mean follows a normal distribution.

# **T-test:**


The T-test is more appropriate when the population standard deviation (σ) is unknown or when the sample size is small (typically n < 30). It assumes the data follows a normal distribution and uses the sample standard deviation (s) to estimate the population standard deviation


# **When to use each test?**

Use the Z-test when:
Population standard deviation (σ) is known.
Sample size (n) is large (typically n > 30).

Use the T-test when:
Population standard deviation (σ) is unknown.
Sample size (n) is small (typically n < 30).


# **Why is the T-test preferred over the Z-test?**

The T-test is preferred over the Z-test for several reasons:

1️] Small Sample Sizes: When the sample size is small (n < 30), the T-test is more accurate as it accounts for the increased uncertainty associated with limited data points. In such cases, the Z-test assumptions may not hold, making the T-test a more appropriate choice.

2️] Robustness to Outliers: The T-test is less sensitive to outliers compared to the Z-test. Outliers can significantly affect the results of the Z-test, leading to misleading conclusions. Removing outliers before conducting the T-test can yield more accurate and reliable results.

3️] Approximation: When the sample size becomes large (n ≥ 30), the T-distribution approximates the standard normal distribution (Z-distribution). Consequently, the T-test and Z-test will yield similar results for large samples, making the T-test still valid for reasonably large sample sizes

In [ ]:
from statsmodels.stats.weightstats import ztest as ztest

# H0 mean is under 20  reject if p < 0.05
# H1 mean is not under 20

data = [88, 92, 94, 94, 96, 97, 97, 97, 99, 99,
        105, 109, 109, 109, 110, 112, 112, 113, 114, 115]

ztest(data, value=20)

(43.502517238676006, 0.0)

In [ ]:
from statsmodels.stats.weightstats import ztest as ztest

# H0 mean is equal       reject if p < 0.05
# H1 mean is not equal
cityA = [82, 84, 85, 89, 91, 91, 92, 94, 99, 99,
         105, 109, 109, 109, 110, 112, 112, 113, 114, 114]

cityB = [90, 91, 91, 91, 95, 95, 99, 99, 108, 109,
         109, 114, 115, 116, 117, 117, 128, 129, 130, 133]


ztest(cityA, cityB, value=0)

(-1.9953236073282115, 0.046007596761332065)

In [ ]:
import scipy.stats as stats

# H0 mean is not equal to 15       reject if p < 0.05
# H1 mean is equal to 15
data_ = [14, 14, 16, 13, 12, 17, 15, 14, 15, 13, 15, 14]
sample_data = stats.ttest_1samp(a=data_, popmean=15)

print(sample_data)

TtestResult(statistic=-1.6848470783484626, pvalue=0.12014460742498101, df=11)

In [ ]:
import numpy as np

group1 = np.array([14, 15, 15, 16, 13, 8, 14, 17, 16, 14, 19, 20, 21, 15, 15, 16, 16, 13, 14, 12])
group2 = np.array([15, 17, 14, 17, 14, 8, 12, 19, 19, 14, 17, 22, 24, 16, 13, 16, 13, 18, 15, 13])
print(stats.ttest_ind(a=group1, b=group2, equal_var=True))

Ttest_indResult(statistic=-0.6337397070250238, pvalue=0.5300471010405257)